.repo {
  display: flex;
  list-style: none;
  margin-left: 30px;
  font-size: 10px;
  border-bottom: 1px dotted;
}

.repoItem {
  margin-left: 30px;
  width: 160px;
}
.description {
  width: 400px;
}
