.header {
  display: block;
  float: left;
  display: flex;
  width: 78%;
}
.welcome {
  width: 250px;
  height: 120px;
  margin-left: 40px;
  border-radius: 10px;
  padding: 20px 0 0 20px;
  background: rgb(115, 236, 127);
}
.data {
  width: 250px;
  height: 120px;
  margin-left: 40px;
  border-radius: 10px;
  background-color: #cba4ef;
  padding: 20px 0 0 20px;
}
